body {
    margin: 0px;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    /*z-index: -1;*/
}

.container,
.container-title,
.container-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}
.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.container-title {
    font-family: 'Source Code Pro', monospace;
    font-size: 4rem;

    background-color: rgba(5, 0, 43, 0.3);
    padding: 1em;

    flex-direction: column;
}

.container-paragraph {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}

.container-navbar {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}

#toggle {
    position: absolute;
    left: 5px;
    bottom: 5px;
    background-color: rgba(5, 50, 255, 0.8);
    padding: 5px;
    margin: 3px;
    border-radius: 100px;
    font-family: 'Source Code Pro', monospace;
    font-size: 10;
}
