body {
    margin: 0px; 
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    /*z-index: -1;*/
}
.container,
.container-title,
.container-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}
.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.container-title {
    font-family: 'Source Code Pro', monospace;
    font-size: 4rem;

    background-color: rgba(5, 0, 43, 0.3);
    padding: 1em;

    flex-direction: column;
}

.container-paragraph {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}
